.signup-container
  %h2.signup-header 会員登録完了
  .registration-form 
    .signup-form-container.registration-form__first-container
      %p.signup-form-container__agreement-text
        ありがとうございます。
      %p.signup-form-container__agreement-text
        会員登録が完了しました。
    %input.submit-btn.submit-btn-red{type: 'submit',value: 'メルカリを始める'} 
.signup-wrapimage