// Place all the styles related to the sakais controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  color:#000;background:#FFF
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
  margin:0;
  padding:0;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img{
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
  font-style:normal;
  font-weight:normal;
}
ol,ul{
  list-style:none;
}
caption,th{
  text-align:left;
}
h1,h2,h3,h4,h5,h6{
  font-size:100%;
  font-weight:normal;
}
q:before,q:after{
  content:'';
}
abbr,acronym{
  border:0;
  font-variant:normal;
}
sup{
  vertical-align:text-top;
}
sub{
  vertical-align:text-bottom;
}
input,textarea,select{
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
  *font-size:100%;
}
legend{
  color:#000;
}
#yui3-css-stamp.cssreset{
  display:none;
};


.user-mypage-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
  margin:0 auto 0 ;
  background-color: #f5f5f5;
  padding-bottom: 40px;
  padding-top:24px;
  &__main{
    &__profile{
      box-sizing: border-box;      
      width:700px;
      height:200px;
      background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
      &__container{
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__image{
          width:60px;
          height:60px;
        }
        &__status{
          display: flex;
          &__content{
            display: flex;
            &__number{
              margin-left: 8px;
            }
            &__name{
              &__products{
                margin-left: 16px;
              }
            }
          }
        }
      }
    }
      /*タブ切り替え全体のスタイル*/
      .tabs {
        margin-top: 50px;
        background-color: #fff;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 700px;
        margin: 0 auto;}
      /*タブのスタイル*/
      .tab_item {
        width: calc(100%/2);
        height: 72px;
        background-color: #eee;
        line-height: 72px;
        font-size: 16px;
        text-align: center;
        color: #565656;
        display: block;
        float: left;
        text-align: center;
        font-weight: bold;
        transition: all 0.2s ease;
      }
      .tab_item:hover {
        opacity: 0.75;
      }
      /*ラジオボタンを全て消す*/
      input[name="tab_item"] {
        display: none;
      }
      /*タブ切り替えの中身のスタイル*/
      .tab_content {
        box-sizing: border-box;
        display: none;
        clear: both;
        align-content: space-between;
        .tab_content_description{
          &__content{
            height:80px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding:16px;
            &__image{
              height: 100%;
              width: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &__body{
              width:100%;
              margin:0 40px 0 8px;
            }
            &__back{
              box-sizing: border-box;
              width: 100%;
              height: 88px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 16px;
              border-top: rgba(238, 238, 238, 0.379) solid 1px;
              &__message{
                background-color: #eee;  
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              &__message:hover{
                background-color: #f5f5f589;
              }
            }
          }
          &__task{
            height: 230px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(174, 174, 174);
          }
        }
        .tab_content_description__content:hover {
          // opacity: 0.75;
          background-color: #f5f5f589;
        }
    }
      /*選択されているタブのコンテンツのみを表示*/
      #all:checked ~ #all_content,
      #programming:checked ~ #programming_content,
      #design:checked ~ #design_content {
        display: block;
      }
      /*選択されているタブのスタイルを変える*/
      .tabs input:checked + .tab_item {
        background-color: white;
        border-top: 3px solid red;
        box-sizing: border-box;
      }
    &__contents{
      width: 100%;
      display: flex;
    }

  }
  &__products{
    margin-top: 40px;
    width:700px;
    background-color: white;
    /*タブ切り替え全体のスタイル*/
    &__title{
      padding:0 16px;
      height: 72px;
      display: flex;
      align-items: center;
    }
    .tabs2 {
      margin-top: 50px;
      background-color: #fff;
      width: 700px;
      margin: 0 auto;}
  /*タブのスタイル*/
    .tab_item2 {
      width: calc(100%/2);
      height: 72px;
      background-color: #eee;
      line-height: 72px;
      font-size: 16px;
      text-align: center;
      color: #565656;
      display: block;
      float: left;
      text-align: center;
      font-weight: bold;
      transition: all 0.2s ease;
  }
    .tab_item2:hover {
      opacity: 0.75;
    }

    /*ラジオボタンを全て消す*/
    input[name="tab_item2"] {
      display: none;
    }

    /*タブ切り替えの中身のスタイル*/
    .tab_content {
      box-sizing: border-box;
      display: none;
      clear: both;
      align-content: space-between;
      .tab_content_description{
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(174, 174, 174);
      }
  }


    /*選択されているタブのコンテンツのみを表示*/
    #all2:checked ~ #all2_content,
    #programming2:checked ~ #programming2_content {
      display: block;
    }

    /*選択されているタブのスタイルを変える*/
    .tabs2 input:checked + .tab_item2 {
      background-color: white;
      border-top: 3px solid red;
      box-sizing: border-box;
  }

  }
  &__navi{
    width:700px;
    margin-top: 40px;
    h3 {
      font-weight: bold;
      background-color: #f5f5f5;
    }
    li{
      box-sizing: border-box;
      width: 100%;
      height:48px;
      padding:16px;
      border: #f5f5f5 solid 1px;
      line-height: 16px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      .menu-icon{
        color: #eee;
      }
    }
    li:hover{
      background-color: #f9f9f9;
      .menu-icon{
        color: black;
        // 使用するアニメーションの名前（@keyframesの名前）を指定
        animation-name: moveRight;
        // アニメーションの再生時間を指定
        animation-duration:300ms;
        // アニメーションの速度を指定
        animation-timing-function: ease-in;
        // アニメーションの開始を遅らせる度合いを指定
        // animation-delay:0s;
        // アニメーションの繰り返し回数を指定。
        // animation-iteration-count: infinite;
        // アニメーションの方向を指定
        // animation-direction: normal;
        // アニメーションの開始前、終了後のスタイルを指定
        animation-fill-mode: forwards;
      }
      @keyframes moveRight{
        0%{
        }
        // 25%{
        //   transform: translate3d(100px, 0px, 10px)
        // }
        // 50%{
        //   transform: translate3d(5px, -100px, 10px)
        // }
        // 75%{
        //   transform: translate3d(-100px, -0px, 10px)
        // }
        100%{
          transform: translate3d(5px, 0px, 50px);
        }
      }
    }
    li.head{
      background-color: #e1e1e1;
    }

    &__menu{
    }
    &__merpay{
      margin-top: 40px;
    }
    &__config{
      margin-top: 40px;
    }  
  }
}