// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./variable.scss";
@import "font-awesome";

.search-container{
  display: flex;
  justify-content: space-between;
  width: 1020px;
  margin: 0 auto;
  padding: 40px 0;

  &__left{
    width: 280px;
    margin-right: 40px;

    &__sort-select{
      width: 100%;

      &--select{
        background-color: $normal-white;
      }
    }

    &__search-contents{
      background-color: $normal-white;
      color: $default-font-black;
      margin-top: 40px;
      padding: 16px;
      &__title{
        font-size: 16px;
        font-weight: bold;
      }
      &__price{

        &__input-container{
          display: flex;
          justify-content: space-between;
        }

        &__input-container span{
          padding-top: 10px;
        }

        &--half-input{
          width: 45%;
        }
      }

      &__freshness{

        &__check{
          display: flex;
          flex-wrap: wrap;
        }
      }
      &__btn-container{
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &__right{
    width: calc(100% - 280px);

    &__products{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      &__product{
        width: 23%;
        margin-top: 10px;
        margin-left: 10px;
        box-shadow: none;
      }
    }
  }
}
.check_box{
  display: inline-block;
  width: 50%;
}
.search-title{
  margin-top: 40px;
  &__text{
    font-size: 14px;
    font-weight: bold;
  }
}
.search-icon{
  margin-right: 4px;
  color: #888;
  font-size: 16px;
}