.main__products
  .main__products__product
    .main__products__product__header
      テックエキスパート新着アイテム
      .main__products__product__header__next
        %a(href="")
          もっと見る
          %i.fa.fa-chevron-right
    .main__products__product__contents
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
  .main__products__product
    .main__products__product__header
      テックエキスパート新着アイテム
      .main__products__product__header__next
        %a(href="")
          もっと見る
          %i.fa.fa-chevron-right
    .main__products__product__contents
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！
      .main__products__product__contents__content.effect-fade
        .main__products__product__contents__content__image
          %img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVsWF8d98YVYq21f9bRkgwCUrw7nlKXmXVriBWyLZDL3OEXtzE5A" alt="" )/ 
          .main__products__product__contents__content__image__price          
            ¥109,892,810
        .main__products__product__contents__content__name
          %p テックエキスパート　新作携帯電話！！！！！！！！！！！


-# https://assets.media-platform.com/gizmodo/dist/images/2019/08/13/20190813-iphone-11-pro.jpeg